<option value="ACCOMODATION VESSEL (E.G. JACK UP, FLOATEL, COMPACT SEMI SUB)">ACCOMODATION VESSEL (E.G. JACK UP, FLOATEL, COMPACT SEMI SUB)</option>
<option value="AFTERMARKET - INSTRUMENTATION">AFTERMARKET - INSTRUMENTATION</option>
<option value="AFTERMARKET - ROTATING EQUIPMENT">AFTERMARKET - ROTATING EQUIPMENT</option>
<option value="AFTERMARKET - STATIC EQUIPMENT">AFTERMARKET - STATIC EQUIPMENT</option>
<option value="AIR-CONDITIONING GAS FIRE UNIT, PACKAGE CHILLERS, PLANT">AIR-CONDITIONING GAS FIRE UNIT, PACKAGE CHILLERS, PLANT</option>
<option value="AIR-CONDITIONING RAC AND SPLIT UNIT">AIR-CONDITIONING RAC AND SPLIT UNIT</option
<option value="ANCHOR HANDLING TUG SUPPLY/TUG VESSEL">ANCHOR HANDLING TUG SUPPLY/TUG VESSEL</option>
<option value="AVIATION FACILITIES AND EQUIPMENT SERVICES">AVIATION FACILITIES AND EQUIPMENT SERVICES</option>
<option value="AVIATION SPECIALISED EQUIPMENT AND SERVICES">AVIATION SPECIALISED EQUIPMENT AND SERVICES</option>
<option value="BOLT TENSIONING SERVICES">BOLT TENSIONING SERVICES</option>
<option value="BUILDINGS, HOUSES, (CIVIL) STRUCTURES">BUILDINGS, HOUSES, (CIVIL) STRUCTURES</option>
<option value="CAFE/FRANCHISE SERVICES">CAFE/FRANCHISE SERVICES</option>
<option value="CANTEEN SERVICES/VENDING MACHINE">CANTEEN SERVICES/VENDING MACHINE</option>
<option value="CAPABILITY DEVELOPMENT">CAPABILITY DEVELOPMENT</option>
<option value="CASING RUNNING SERVICES">CASING RUNNING SERVICES</option>
<option value="CATERING AND HOTEL SERVICES - OFFSHORE">CATERING AND HOTEL SERVICES - OFFSHORE</option>
<option value="CATERING AND HOTEL SERVICES - ONSHORE">CATERING AND HOTEL SERVICES - ONSHORE</option>
<option value="CEMENTING SERVICES">CEMENTING SERVICES</option>
<option value="CHARTER BARGES (E.G. FLAT TOP BARGES)">CHARTER BARGES (E.G. FLAT TOP BARGES)</option>
<option value="CIVIL DOMESTIC">CIVIL DOMESTIC</option>
<option value="CIVIL ENGINEERING/CONCRETE STRUCTURE DESIGN SERVICES">CIVIL ENGINEERING/CONCRETE STRUCTURE DESIGN SERVICES</option>
<option value="CIVIL INDUSTRIAL BUILDING">CIVIL INDUSTRIAL BUILDING</option>
<option value="CIVIL INFRASTRUCTURE">CIVIL INFRASTRUCTURE</option>
<option value="CIVIL WORKS/BUILDING CONTRACTING SERVICES INCLUDING DRILLING/TUNNELLING">CIVIL WORKS/BUILDING CONTRACTING SERVICES INCLUDING DRILLING/TUNNELLING</option>
<option value="COIL TUBING SERVICES - ONSHORE">COIL TUBING SERVICES - ONSHORE</option>
<option value="COILED TUBING SERVICES - OFFSHORE">COILED TUBING SERVICES - OFFSHORE</option>
<option value="COMPLETION EQUIPMENT">COMPLETION EQUIPMENT</option>
<option value="COMPLETION SERVICES">COMPLETION SERVICES</option>
<option value="COMPRESSOR SERVICES">COMPRESSOR SERVICES</option>
<option value="CONSTRUCTION MANAGEMENT AND SUPERVISION SERVICES">CONSTRUCTION MANAGEMENT AND SUPERVISION SERVICES</option>
<option value="CONTAINERS SERVICES">CONTAINERS SERVICES</option>
<option value="CONTROLS AND AUTOMATION">CONTROLS AND AUTOMATION</option>
<option value="CORING SERVICES">CORING SERVICES</option>
<option value="CORPORATE SERVICES, COURIER SERVICES">CORPORATE SERVICES, COURIER SERVICES</option>
<option value="CORPORATE SERVICES, EVENT MANAGEMENT">CORPORATE SERVICES, EVENT MANAGEMENT</option>
<option value="CORPORATE SERVICES, FINANCE/AUDIT">CORPORATE SERVICES, FINANCE/AUDIT</option>
<option value="CORPORATE SERVICES, INSURANCE">CORPORATE SERVICES, INSURANCE</option>
<option value="CORPORATE SERVICES, LEGAL">CORPORATE SERVICES, LEGAL</option>
<option value="CORPORATE SERVICES, MEDIA">CORPORATE SERVICES, MEDIA</option>
<option value="CORPORATE SERVICES, TRAVEL">CORPORATE SERVICES, TRAVEL</option>
<option value="CRANES/CRANE BARGES/HEAVY LIFT VESSELS">CRANES/CRANE BARGES/HEAVY LIFT VESSELS</option>
<option value="DEEP WATER DRILLING RIGS AND CREWS">DEEP WATER DRILLING RIGS AND CREWS</option>
<option value="DIGITISATION">DIGITISATION</option>
<option value="DIRECTIONAL DRILLING SERVICES">DIRECTIONAL DRILLING SERVICES</option>
<option value="DIVING SUPPORT VESSEL">DIVING SUPPORT VESSEL</option>
<option value="DOWNHOLE INTERVENTION SERVICES">DOWNHOLE INTERVENTION SERVICES</option>
<option value="DRILL BITS">DRILL BITS</option>
<option value="DRILLING CHEMICALS AND BRINE MIXING SERVICES">DRILLING CHEMICALS AND BRINE MIXING SERVICES</option>
<option value="DRILLING FLUIDS SERVICES">DRILLING FLUIDS SERVICES</option>
<option value="DRILLING MATERIAL AND EQUIPMENT INSPECTION SERVICES">DRILLING MATERIAL AND EQUIPMENT INSPECTION SERVICES</option>
<option value="DRILLING MODULES/PACKAGES (COMMISSIONING)">DRILLING MODULES/PACKAGES (COMMISSIONING)</option>
<option value="DRILLING MODULES/PACKAGES (CONSTRUCTION)">DRILLING MODULES/PACKAGES (CONSTRUCTION)</option>
<option value="DRILLING MODULES/PACKAGES (ENGINEERING/PROCUREMENT)">DRILLING MODULES/PACKAGES (ENGINEERING/PROCUREMENT)</option>
<option value="DRILLING MODULES/PACKAGES (INSTALLATION)">DRILLING MODULES/PACKAGES (INSTALLATION)</option>
<option value="DRILLING TOOLS AND EQUIPMENT - HIGH END">DRILLING TOOLS AND EQUIPMENT - HIGH END</option>
<option value="DRILLING TOOLS AND EQUIPMENT - LOW END">DRILLING TOOLS AND EQUIPMENT - LOW END</option>
<option value="ELECTRIC WIRELINE LOGGING">ELECTRIC WIRELINE LOGGING</option>
<option value="ELECTRICAL DOMESTIC AND INDUSTRIAL">ELECTRICAL DOMESTIC AND INDUSTRIAL</option>
<option value="ELECTRICAL SERVICES">ELECTRICAL SERVICES</option>
<option value="ELECTRICAL SUBMERSIBLE PUMP (ESP)">ELECTRICAL SUBMERSIBLE PUMP (ESP)</option>
<option value="EMERGENCY RESPONSE">EMERGENCY RESPONSE</option>
<option value="ENERGY EFFICIENCY">ENERGY EFFICIENCY</option>
<option value="ENGINEERING AND DESIGN">ENGINEERING AND DESIGN</option>
<option value="ENGINEERING AND PROJECT MANAGEMENT SERVICES">ENGINEERING AND PROJECT MANAGEMENT SERVICES</option>
<option value="ENGINEERING DESIGN, SPECIALIST">ENGINEERING DESIGN, SPECIALIST</option>
<option value="ENVIRONMENTAL PUBLIC HEALTH">ENVIRONMENTAL PUBLIC HEALTH</option>
<option value="ENVIRONMENTAL SERVICES">ENVIRONMENTAL SERVICES</option>
<option value="ESTATE MAINTENANCE">ESTATE MAINTENANCE</option>
<option value="FABRICATION/CONSTRUCTION SERVICES">FABRICATION/CONSTRUCTION SERVICES</option>
<option value="FIELD SUPPORT VESSEL (E.G. CREW BOAT,LAUNCH, GP BOATS)">FIELD SUPPORT VESSEL (E.G. CREW BOAT,LAUNCH, GP BOATS)</option>
<option value="FISHING AND MILLING SERVICES">FISHING AND MILLING SERVICES</option>
<option value="FREIGHT FORWARDER SERVICES">FREIGHT FORWARDER SERVICES</option>
<option value="GAS TURBINE SERVICES">GAS TURBINE SERVICES</option>
<option value="GEOPHYSICAL ACQUISITION - OFFSHORE">GEOPHYSICAL ACQUISITION - OFFSHORE</option>
<option value="GEOPHYSICAL ACQUISITION - ONSHORE">GEOPHYSICAL ACQUISITION - ONSHORE</option>
<option value="GEOPHYSICAL INTREPRETATION">GEOPHYSICAL INTREPRETATION</option>
<option value="GEOPHYSICAL PROCESSING">GEOPHYSICAL PROCESSING</option>
<option value="GEOPHYSICAL SUPPORT SERVICES">GEOPHYSICAL SUPPORT SERVICES</option>
<option value="GNSS SERVICES">GNSS SERVICES</option>
<option value="GYRO SERVICES">GYRO SERVICES</option>
<option value="HEAVY VEHICLES">HEAVY VEHICLES</option>
<option value="HIGH PRESSURE FRACCING">HIGH PRESSURE FRACCING</option>
<option value="HOIST SERVICES">HOIST SERVICES</option>
<option value="HOUSEHOLD FURNITURE AND PACKING SERVICES">HOUSEHOLD FURNITURE AND PACKING SERVICES</option>
<option value="HSSE">HSSE</option>
<option value="HULL TANK CLEANING SERVICES">HULL TANK CLEANING SERVICES</option>
<option value="HYDROCARBON MATURATION">HYDROCARBON MATURATION</option>
<option value="INSTALLATION OF SUBSEA PACKAGES">INSTALLATION OF SUBSEA PACKAGES</option>
<option value="INTEGRATED WELL RESERVOIR MANAGEMENT (WRM) SERVICES">INTEGRATED WELL RESERVOIR MANAGEMENT (WRM) SERVICES</option>
<option value="IT, END-USER COMPUTING & EQUIPMENT">IT, END-USER COMPUTING & EQUIPMENT</option>
<option value="IT, HOSTING AND STORAGE">IT, HOSTING AND STORAGE</option>
<option value="IT, NETWORK SERVICES">IT, NETWORK SERVICES</option>
<option value="IT, SPECIALIST SOFTWARE LICENSE AND MAINTENANCE">IT, SPECIALIST SOFTWARE LICENSE AND MAINTENANCE</option>
<option value="IT, SYSTEM DEVELOPMENT, SPECIALIST SERVICES">IT, SYSTEM DEVELOPMENT, SPECIALIST SERVICES</option>
<option value="IT, TELECOMMUNICATION INFRASTRUCTURE">IT, TELECOMMUNICATION INFRASTRUCTURE</option>
<option value="IT, TELECOMMUNICATION MAINTENANCE">IT, TELECOMMUNICATION MAINTENANCE</option>
<option value="IT, TELECOMMUNICATION SYSTEM, RADIO SYSTEM">IT, TELECOMMUNICATION SYSTEM, RADIO SYSTEM</option>
<option value="IT, TELECOMMUNICATION SYSTEM, TELEPHONE SYSTEM">IT, TELECOMMUNICATION SYSTEM, TELEPHONE SYSTEM</option>
<option value="JACK UP DRILLING RIGS AND CREWS">JACK UP DRILLING RIGS AND CREWS</option>
<option value="JETTY OPERATION">JETTY OPERATION</option>
<option value="LAND DRILLING RIGS AND CREWS">LAND DRILLING RIGS AND CREWS</option>
<option value="LAND SURVEY">LAND SURVEY</option>
<option value="LANDS MEASUREMENT SERVICES">LANDS MEASUREMENT SERVICES</option>
<option value="LIFTING EQUIPMENT">LIFTING EQUIPMENT</option>
<option value="LIGHT VEHICLES">LIGHT VEHICLES</option>
<option value="LINER HANGER SERVICES">LINER HANGER SERVICES</option>
<option value="LOGISTICS">LOGISTICS</option>
<option value="MAIN POWER DISTRIBUTION">MAIN POWER DISTRIBUTION</option>
<option value="MARINE SURVEYOR">MARINE SURVEYOR</option>
<option value="MARINE TECHNOLOGY/HYDRODYNAMIC/AERODYNAMIC SERVICES">MARINE TECHNOLOGY/HYDRODYNAMIC/AERODYNAMIC SERVICES</option>
<option value="MEASURING, REPORTING AND VERIFICATION (MRV) OF GREEN HOUSE GAS EMISSION">MEASURING, REPORTING AND VERIFICATION (MRV) OF GREEN HOUSE GAS EMISSION</option>
<option value="MEDICAL SERVICES">MEDICAL SERVICES</option>
<option value="METOCEAN DATA COLLECTION SERVICES">METOCEAN DATA COLLECTION SERVICES</option>
<option value="MUD LOGGING SERVICES">MUD LOGGING SERVICES</option>
<option value="MULTI-ROLE VESSEL (E.G.OIL SPILL RESPONSE, USV)">MULTI-ROLE VESSEL (E.G.OIL SPILL RESPONSE, USV)</option>
<option value="OCTG SERVICES">OCTG SERVICES</option>
<option value="OFFICE SUPPORT SERVICES">OFFICE SUPPORT SERVICES</option>
<option value="OFFSHORE JACKET/TOPSIDES INSTALLATION">OFFSHORE JACKET/TOPSIDES INSTALLATION</option>
<option value="OFFSHORE PAINTING">OFFSHORE PAINTING</option>
<option value="OFFSHORE POSITIONING">OFFSHORE POSITIONING</option>
<option value="OFFSHORE SCAFFOLDING">OFFSHORE SCAFFOLDING</option>
<option value="OFFSHORE SURVEY">OFFSHORE SURVEY</option>
<option value="ONSHORE SCAFFOLDING">ONSHORE SCAFFOLDING</option>
<option value="OTHER ENGINEERING SERVICES">OTHER ENGINEERING SERVICES</option>
<option value="OTHER INSTALLATION SERVICES">OTHER INSTALLATION SERVICES</option>
<option value="OTHER SYSTEMS (COMMISSIONING)">OTHER SYSTEMS (COMMISSIONING)</option>
<option value="OTHER SYSTEMS (CONSTRUCTION)">OTHER SYSTEMS (CONSTRUCTION)</option>
<option value="OTHER SYSTEMS (ENGINEERING/PROCUREMENT)">OTHER SYSTEMS (ENGINEERING/PROCUREMENT)</option>
<option value="OTHER SYSTEMS (INSTALLATION)">OTHER SYSTEMS (INSTALLATION)</option>
<option value="PILING SERVICES">PILING SERVICES</option>
<option value="PIPE CUTTING AND BENDING SERVICES">PIPE CUTTING AND BENDING SERVICES</option>
<option value="PIPELAYING/UMBILICAL/CABLE LAYING SERVICES">PIPELAYING/UMBILICAL/CABLE LAYING SERVICES</option>
<option value="PLATFORM AND TANK CLEANING SERVICES">PLATFORM AND TANK CLEANING SERVICES</option>
<option value="PLATFORM SUPPLY VESSEL/STRAIGHT SUPPLY VESSEL">PLATFORM SUPPLY VESSEL/STRAIGHT SUPPLY VESSEL</option>
<option value="PRINTING/PHOTOCOPYING">PRINTING/PHOTOCOPYING</option>
<option value="PROCESS MODULES/PACKAGES (COMMISSIONING)">PROCESS MODULES/PACKAGES (COMMISSIONING)</option>
<option value="PROCESS MODULES/PACKAGES (CONSTRUCTION)">PROCESS MODULES/PACKAGES (CONSTRUCTION)</option>
<option value="PROCESS MODULES/PACKAGES (ENGINEERING/PROCUREMENT)">PROCESS MODULES/PACKAGES (ENGINEERING/PROCUREMENT)</option>
<option value="PROCESS MODULES/PACKAGES (INSTALLATION)">PROCESS MODULES/PACKAGES (INSTALLATION)</option>
<option value="PRODUCTION AND RELATED SPECIALIST SERVICES">PRODUCTION AND RELATED SPECIALIST SERVICES</option>
<option value="PRODUCTION CHEMICAL SUPPLIES AND TECHNICAL SERVICES">PRODUCTION CHEMICAL SUPPLIES AND TECHNICAL SERVICES</option>
<option value="PRODUCTION IMPROVEMENT">PRODUCTION IMPROVEMENT</option>
<option value="PRODUCTION/PETROLEUM ENGINEERING SERVICES">PRODUCTION/PETROLEUM ENGINEERING SERVICES</option>
<option value="PROJECT MANAGEMENT SERVICES">PROJECT MANAGEMENT SERVICES</option>
<option value="PROVISION OF NATURE-BASED SOLUTIONS">PROVISION OF NATURE-BASED SOLUTIONS</option>
<option value="PUMPS SERVICES">PUMPS SERVICES</option>
<option value="QUALITY MANAGEMENT SERVICES">QUALITY MANAGEMENT SERVICES</option>
<option value="QUANTITY SURVEYING">QUANTITY SURVEYING</option>
<option value="REMOTE SENSING">REMOTE SENSING</option>
<option value="RENEWABLE ENERGY">RENEWABLE ENERGY</option>
<option value="RESOURCES, CONSULTANCY SERVICES">RESOURCES, CONSULTANCY SERVICES</option>
<option value="RESOURCES, TECHNICAL">RESOURCES, TECHNICAL</option>
<option value="RIGS AND EQUIPMENT INSPECTION SERVICES">RIGS AND EQUIPMENT INSPECTION SERVICES</option>
<option value="RISK ASSESSEMENT SERVICES">RISK ASSESSEMENT SERVICES</option>
<option value="ROAD EXCAVATING AND CONSTRUCTION">ROAD EXCAVATING AND CONSTRUCTION</option>
<option value="ROAD TANKER SERVICES">ROAD TANKER SERVICES</option>
<option value="SECURITY SERVICES">SECURITY SERVICES</option>
<option value="SHELTERS, CABINS AND BUS STOPS">SHELTERS, CABINS AND BUS STOPS</option>
<option value="SHIPYARD AND DRYDOCK SERVICES">SHIPYARD AND DRYDOCK SERVICES</option>
<option value="SOIL BORING OFFSHORE">SOIL BORING OFFSHORE</option>
<option value="SPATIAL DATA SERVICES">SPATIAL DATA SERVICES</option>
<option value="SPECIALISED SLICKLINE SERVICES">SPECIALISED SLICKLINE SERVICES</option>
<option value="SPECIALIST INSPECTION AND NDT SERVICES">SPECIALIST INSPECTION AND NDT SERVICES</option>
<option value="SPECIALITY MEASUREMENT">SPECIALITY MEASUREMENT</option>
<option value="STEAM TURBINE SERVICES">STEAM TURBINE SERVICES</option>
<option value="STEEL/METAL/CONCRETE STRUCTURES/PLATFORMS (COMMISSIONING)">STEEL/METAL/CONCRETE STRUCTURES/PLATFORMS (COMMISSIONING)</option>
<option value="STEEL/METAL/CONCRETE STRUCTURES/PLATFORMS (CONSTRUCTION)">STEEL/METAL/CONCRETE STRUCTURES/PLATFORMS (CONSTRUCTION)</option>
<option value="STEEL/METAL/CONCRETE STRUCTURES/PLATFORMS (ENGINEERING/PROCUREMENT)">STEEL/METAL/CONCRETE STRUCTURES/PLATFORMS (ENGINEERING/PROCUREMENT)</option>
<option value="STEEL/METAL/CONCRETE STRUCTURES/PLATFORMS (INSTALLATION)">STEEL/METAL/CONCRETE STRUCTURES/PLATFORMS (INSTALLATION)</option>
<option value="SUBSEA CONSTRUCTION SERVICES">SUBSEA CONSTRUCTION SERVICES</option>
<option value="SUBSEA/DIVING/ROV SERVICES">SUBSEA/DIVING/ROV SERVICES</option>
<option value="SURVEY VESSELS">SURVEY VESSELS</option>
<option value="TANK CONSTRUCTION AND MAINTENANCE">TANK CONSTRUCTION AND MAINTENANCE</option>
<option value="TEA/COFFEE AND OFFICE CLEANING/MESSENGERS/HELPERS SERVICES">TEA/COFFEE AND OFFICE CLEANING/MESSENGERS/HELPERS SERVICES</option>
<option value="TENDER-ASSIST DRILLING RIGS AND CREWS">TENDER-ASSIST DRILLING RIGS AND CREWS</option>
<option value="THIRD PARTY AND VENDOR INSPECTION SERVICES">THIRD PARTY AND VENDOR INSPECTION SERVICES</option>
<option value="TRAINING, HSE DEVELOPMENT">TRAINING, HSE DEVELOPMENT</option>
<option value="TRAINING, HSE SPECIALISED">TRAINING, HSE SPECIALISED</option>
<option value="TRAINING, TECHNICAL DEVELOPMENT">TRAINING, TECHNICAL DEVELOPMENT</option>
<option value="TRAINING, TECHNICAL SPECIALISED">TRAINING, TECHNICAL SPECIALISED</option>
<option value="TRENCHING, EXCAVATION, ROCK DUMPING SERVICES">TRENCHING, EXCAVATION, ROCK DUMPING SERVICES</option>
<option value="UNDERWATER INSPECTION">UNDERWATER INSPECTION</option>
<option value="UTILITIES MODULES/PACKAGES (COMMISSIONING)">UTILITIES MODULES/PACKAGES (COMMISSIONING)</option>
<option value="UTILITIES MODULES/PACKAGES (CONSTRUCTION)">UTILITIES MODULES/PACKAGES (CONSTRUCTION)</option>
<option value="UTILITIES MODULES/PACKAGES (ENGINEERING/PROCUREMENT)">UTILITIES MODULES/PACKAGES (ENGINEERING/PROCUREMENT)</option>
<option value="UTILITIES MODULES/PACKAGES (INSTALLATION)">UTILITIES MODULES/PACKAGES (INSTALLATION)</option>
<option value="VEHICLE INSPECTION EQUIPMENT SERVICES">VEHICLE INSPECTION EQUIPMENT SERVICES</option>
<option value="WAREHOUSE MANAGEMENT">WAREHOUSE MANAGEMENT</option>
<option value="WASTE MANAGEMENT">WASTE MANAGEMENT</option>
<option value="WEIGHT CONTROL SERVICES">WEIGHT CONTROL SERVICES</option>
<option value="WELDING AND JOINTING SERVICES">WELDING AND JOINTING SERVICES</option>
<option value="WELL ABANDONMENT SERVICES">WELL ABANDONMENT SERVICES</option>
<option value="WELL CLEAN OUT TOOLS AND SERVICES">WELL CLEAN OUT TOOLS AND SERVICES</option>
<option value="WELL CONTROL SUPPORT SERVICES">WELL CONTROL SUPPORT SERVICES</option>
<option value="WELL SERVICES EQUIPMENT MAINTENANCE SERVICES">WELL SERVICES EQUIPMENT MAINTENANCE SERVICES</option>
<option value="WELL TESTING">WELL TESTING</option>
<option value="WELLHEAD INTEGRITY MAINTENANCE SERVICES">WELLHEAD INTEGRITY MAINTENANCE SERVICES</option>
<option value="WELLHEADS AND XMAS TREE">WELLHEADS AND XMAS TREE</option>
<option value="WIRE WRAPPED SCREEN">WIRE WRAPPED SCREEN</option>
<option value="WIRELINE SERVICES AND GAUGES">WIRELINE SERVICES AND GAUGES</option>
<option value="WORKBOATS/WORKBARGES">WORKBOATS/WORKBARGES</option>
<option value="WORKOVER UNIT SERVICES">WORKOVER UNIT SERVICES</option>
<option value="WORKSHOP SERVICES, ONSHORE">WORKSHOP SERVICES, ONSHORE</option>
<option value="X-OVER AND PUP JOINT FABRICATION">X-OVER AND PUP JOINT FABRICATION</option>
